SQLAlchemy==2.0.31
aiohttp==3.9.5
fake-useragent==1.5.1
free-proxy==1.1.1
selenium==4.15.2
undetected-chromedriver==3.5.5
Proxy-List-Scrapper==0.2.2
bs4==0.0.2
mss==6.1.0
pydantic==1.10.17
databases==0.9.0
aiosqlite==0.20.0
